<div class="container text-center mt-2">
	<div class="row justify-content-center">
		<div class="col">
		</div>
		<div class="col">
			<div class="card text-center mt-4">
				<div class="card-body">
					<h1>Menu</h1>
					<hr>
					<a href="/admin/postagens">
						<button class="btn btn-success form-control">Postagens</button>
					</a>
					<hr>
					<a href="/admin/categorias/">
						<button class="btn btn-success form-control">Categorias</button>
					</a>
				</div>
			</div>
		</div>
		<div class="col">
		</div>
	</div>
</div>