<form action="/adicionar" method="POST">
	<p>Título: </p>
	<input type="text" name="titulo">
	<p>Conteúdo: </p>
	<textarea name="conteudo"></textarea>
	<br><br>
	<button type="submit">Cadastrar Postagem</button>
</form>